:root {
    --backgroundMainColor: #f7f7f7;
    --fontMainColor: #000000;
    --fontSecudaryColor: #f7f7f7;
    --headerMainColor: #05013d;
    --cardColor: #c7e6ff;
    --borderColor: #CFB776;
    --shadowColor: #444444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    cursor: url(./images/cursor1.cur),default;
    color: var(--fontMainColor);
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #e7e7e7 !important;
   
}
body::-webkit-scrollbar{
  width: 9px;
}
body::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #1E1A18,#CFB776,#1E1A18);

  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    transition: transform .6s ease-in-out;
    z-index: 12;
    background-color: #e7e7e7;
    margin-top: -100px;

}
main {
    margin-top: 100px;
}
.hidden {
  transform: translateY(-150px);
}
.hidden-eva {
  transform: translateX(-150px);
  transition: transform .6s ease-in-out;
}
@media screen and (max-width:450px) {
  .hidden {
    transform: translateX(-450px);
  }
  .hidden-eva {
    transform: translateX(-450px);
    transition: transform .6s ease-in-out;
  }
}
button {
    cursor: url(./images/cursor3.cur),pointer !important;
}
.prime-logo {
    width: 18em;
    margin-bottom: 5px;
    padding: 5px;
}

/*========================================

EVA

===========================================*/

summary{
  border-radius: 10px 20px 50px;
  height: 3em;
  padding: 10px;
  border-left: 4px solid var(--borderColor);
  color: var(--fontSecudaryColor);
  transition: .2s;
  border-left: 4px solid var(--backgroundMainColor);
}
summary:hover {
  border-left: 4px solid var(--borderColor);
  margin-left: 1em;

}
.eva {
  position: fixed;
  z-index: 100;
  
}

.eva-icon {
  border-radius: 100em;
  width: 3em;
  animation: neon 1s ease-in-out infinite;
  cursor: url(./images/cursor3.cur),pointer !important;
  transition: transform .6s ease-in-out;

 
}
.eva-icon-info {
  width: 4em;
  cursor: url(./images/cursor3.cur),pointer !important;
  
}
@keyframes neon {
  0% {
    box-shadow:  0px 0px 10px var(--borderColor);
  }
  50% {
    box-shadow:  0px 0px 10px var(--fontMainColor);
  }
  100% {
    box-shadow:  0px 0px 10px var(--borderColor);
  }
}
@media  screen and (max-width: 450px) {
  .eva-icon {
    width: 3em;
  }
}
.eva-icon:hover {
  border: 4px solid var(--hoverColor);
}
details {
  width: 20em;
}
summary {
  font-weight: 900;
}
.offcanvas-title {
  color: var(--fontSecudaryColor);
}
.offcanvas-header {
  background-image: linear-gradient(90deg,#000000,#252525,#656565);
  color: var(--fontMainColor);
  border: 1px solid var(--borderColor);
}
.offcanvas-body {
  background-image: linear-gradient(90deg,#000000,#252525,#000000);
 color: var(--fontSecudaryColor);
 border: 1px solid var(--borderColor);
}
.eva-info {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  border-radius: 50px 20px;
  width: 75em;
  padding: 1em;
  color: var(--fontSecudaryColor);
  box-shadow: 3px 3px 5px var(--shadowColor);
  border: 1px solid var(--borderColor);
}
.sisters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sister {
  width: 5em;
  border-radius: 100px;

}
@media screen and (max-width:450px){
  .offcanvas-title {
    color: var(--fontSecudaryColor);
    font-weight: 600;
  }
  .offcanvas-header {
    background-image: linear-gradient(90deg,#000000,#252525,#656565);
    color: var(--fontMainColor);
  }
  .offcanvas-body {
   background-color: var(--headerMainColor);
   color: var(--fontMainColor);
   font-weight: 500;
   background-image: linear-gradient(90deg,#000000,#101010,#000000);
  }
  .offcanvas-body p {
    color: var(--fontSecudaryColor);
  }
  .eva-info {
    width: 24em;
  }
  .sisters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.sister {
  width: 6em;
  border-radius: 100px;
  margin: 10px;

}
  
}
.btn-primary {
  margin-top: 5em;
  border-radius: 100px;
  transition: transform .6s ease-in-out;
}
@media screen and (max-width:450px) {
  .btn-primary {
    margin-top: 32em;
    border-radius: 100px;
  }
  .eva {
    height: 10px;
  }
  
} 

/*========================================*/


.btn-prime {
    background-color: #e7e7e7;
    color: var(--fontMainColor);
    font-size: 13pt;
    width: 10em;
    height: 30px;
    transition: .3s ease-in-out;
    font-weight: 500;
    border: 1px solid #e7e7e7;
    border-radius: 5px;

}
.btn-prime:hover {
    box-shadow: 3px 3px 0px #05013d;
    border: 1px solid #05013d;
    color: #05013d;
    font-weight: 700;
    background-color: #ffffff;
  }
.btn-prime-select {
    background-color: #e7e7e7;
    color: var(--fontMainColor);
  font-size: 13pt;
  width: 8em;
  transition: .2s;
  font-weight: 500;
  height: 30px;
  transition: .3s ease-in-out;
  padding-left: .6em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  
}
.btn-prime-select:hover {
    box-shadow: 3px 3px 0px #05013d;
    border: 1px solid #05013d;
    font-weight: 700;
    background-color: #ffffff;
}
.btn-btn-primary {
  display: none;
  margin-top: 0; 
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  border: 1px solid var(--borderColor); 
  color: var(--fontSecudaryColor); 
  font-weight: 800;
  border-radius: 50px;
  width: 5em;
}

@media screen and (max-width:450px) {
  .btn-btn-primary {
    display: block;
    height: 4em;
    border-radius: 10px;
  }
  .navbar-body-mobile {
    display: grid;
    padding: 10px;
    gap: 30px;
  }
  .btn-navbar {
    background-image: linear-gradient(90deg,#000000,#101010,#000000);
    color: var(--fontSecudaryColor);
    font-size: 12pt;
    border-radius: 10px;
    width: 10em;
    transition: .2s;
    font-weight: 500;
    border: 1px solid var(--borderColor);

  }
  .btn-navbar:hover {
    animation: moveset .2s ease-in-out forwards;
  }
}

@media  screen and (max-width: 450px) {
    .btn-prime {
      display: none;
        
    }
    .btn-prime-select {
display: none;
    }
    .btn-prime:hover {
      animation: moveset .3s ease-in-out forwards;
  }
.btn-prime-language {
display: none;
}
    
}
/*=========== MAIN =================*/
  .intro-empresa {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(./images/backform.png);
    background-attachment: fixed;
    height: 33em;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    padding: 10px;
    }

    .container h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--fontSecudaryColor);
      width: 100%;
      border-bottom: .5px groove var(--borderColor);
    }
    .container {
      background-color: #0000009f;
      border: .5px solid #f1f1f1;
      border-radius: 10px;
        }
    .container button {
      margin-top: 10px; 
      margin-bottom: 10px; 
      width: 100%; 
      border-radius: 50px 20px 50px;         
      background-color: #101010;
      border-color: #CFB776;
      transition: ease-in-out .3s;
    }
    .container button:hover {
      box-shadow: inset 0px 0px 5px var(--borderColor);
      background-color: rgb(0, 0, 0) !important;
    }
    .form-control{
      border-bottom: 1px solid #CFB776 !important;
      outline: none;
      box-shadow: inset 0px 0px 10px #000000;
      border-radius: 10px !important;
      color: var(--fontMainColor) !important;
      text-shadow: 1px 1px px var(--fontMainColor);
      margin-bottom: 20px;
    }
    input {
      height: 60px;
      transition: .5s ease-in-out;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
    }


    .about-container {
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 20px;
        box-shadow: 0px 0px 20px black;
        border-radius: 10px;
        background-color: #e7e7e7;
        padding: 10px;
      }
    
      .line-division {
        width: 100%;
        height: 2px;
        border-bottom: 2px dotted #000000;
      }
      .about-container h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #000931;
        border-radius: 10px;
        color: #ffffff;
        box-shadow: inset 0px 0px 7px #000000;
        box-shadow: 0px 0px 5px #000000;
      }
      .about-content {
        display: flex;
        align-items: center;
      }
      .about-content h1 {
        height: 10em;
        margin: 20px;
      }
      .about-content p {
        line-height: 23px;
        font-size: 17px;
      }
      .about-content .timeline {
        height: 5em;
        width: 1px;
        background-color: #000931;
    
      }
      @media screen and (max-width:550px) {
        .about-content{
          display: grid;
        }
        .timeline {
          display: none;
        }
      }
      .photo {
        width: 15em;
        border-radius: 300px;
        box-shadow: 0px 0px 10px #000931;
        margin: 20px;
      }
    
      .cursos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        background-color: #e7e7e7;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #000000;
      }
      .cursos div  {
        display: grid;
      }
      .cursos h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #000931;
        border-radius: 10px;
        color: #ffffff;
        box-shadow: inset 0px 0px 7px #000000;
        box-shadow: 0px 0px 5px #000000;
        height: 12em;
        width: 6em;
      }
      .card {
        box-shadow: 8px 8px 0px #000000 !important;
        transition: .2s ease-in-out;
      }
      .card:hover {
        box-shadow: 0px 0px 10px #000000 !important;
      }
      .card-img-top {
        border-radius: 10px;
      }
       .cursos a {
        background-color: #0a619b;
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        padding: 5px;
        transition: .1s ease-in-out;
        border: 2px solid #ffffff;
      }
       .cursos a:hover {
        box-shadow: 3px 3px 0px #000000;
        border: 2px solid #000000;
        color: #ffffff;
        font-weight: 800;
      }
      @media screen and (max-width:550px) {
        .about-content{
          display: grid;
        }
        .timeline {
          display: none;
        }
        .timeline-container {
            display: grid;
          }
          .timeline-container h1 {
            height: auto;
          }
          .cursos {
            display: grid;
          }
          .cursos h1 {
            height: auto;
            width: auto;
          }
      }
    




































  .chatbot-container {
    width: 350px;
    border: 1px solid #CFB776 ;
    border-radius: 20px;
    overflow: hidden;
  }
  .offcanvas-title {
    color: #CFB776;
  }

  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
  }
  
  .chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #000000;
  }
  
  .chat-body {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    border: 1px solid #CFB776 ;
  }
  .chat-body::-webkit-scrollbar {
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    border-radius: 20px;
    width: 10px;
  }
  .chat-body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg,#000000,#CFB776,#000000);
    border-radius: 20px;
  }
  
  .chat-message {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  .received {
    background-color: #0e0e0e;
    border-radius: 10px 20px 50px;
    border: 1px solid #CFB776;
    color: white;
  }
  .received01 {
    border-radius: 10px 20px 50px;
    color: #f1f1f1;

  }
  
  .sent {
    color: #ffffff;
    text-align: right;
    border-radius: 50px 20px 10px;
  }
  
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    color: #f1f1f1;
    width: 350px;
  }
  .option-input {
    border: 1px solid #CFB776;
    border-radius: 10px;
    background-color: #101010;
  }
  .option-input:hover {
    color: #CFB776;
    text-shadow: 0px 0px 10px #CFB776;
  }
  
  .btnSent {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color:#101010;
    color: white;
    transition: .2s;
  }
  .btnSent:hover {
    animation: send .1s ease-in-out forwards;
  }
  @keyframes send {
    0% {
      background-image: linear-gradient(90deg, #ffffff,#000000,#000000);
    }
    50% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#000000);
    }
    75% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff);
      color: #000000;
    }
    100% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff);
      color: #000000;
    }
  }
  .btn-btn-chatbot {
    width: 3.9em;
    height: 3.9em;
    border-radius: 200px;
    border: 3px solid #CFB776;
    background-color: #101010;
    color: #f1f1f1;
    position: fixed;
    margin-top: 10%;
    margin-left: .2%;
    z-index: 20;
    font-size: 12px;
    transition: transform .6s ease-in-out;
  }
  @media screen and (min-width: 1220px) {
    .btn-btn-chatbot {
      margin-top: 12%;
    }
  }
  @media screen and (max-width: 450px) {
    .btn-btn-chatbot {
      margin-left: .7%;
      margin-top: 142%;
    }
  }
  .btn-btn-chatbot-exit {
    width: 3em;
    height: 3em;
    border-radius: 200px;
    border: 3px solid #CFB776;
    background-color: #101010;
    color: #f1f1f1;
  }

  .container-loading {
    display: flex;
    align-items: start;
    justify-content: center;
    backdrop-filter: blur(15px);
    position: fixed;
    width:100%;
    height: 1090em;
    z-index: 50;

  }
  .second-container-loading {
    position: fixed;
    z-index: 51;
  }

  footer {
    background-color: #101010;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--borderColor);
    margin-top: 14px;
}
.container-footer {
    max-width: auto;
    margin: 0 auto;
}
.footer-logo {
    border-bottom: 1px solid var(--borderColor);
}
.footer-image-logo {
  width: 20em;
  margin-bottom: 20px;
}
.footer-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
.footer-menu li:last-child {
    margin-right: 0;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
.footer-inc {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: -5px;
}
