:root {
  --backgroundMainColor: #f7f7f7;
  --fontMainColor: #000000;
  --fontSecudaryColor: #f7f7f7;
  --headerMainColor: #05013d;
  --hoverColor: #76c8ff;
  --cardColor: #c7e6ff;
  --borderColor: #000000;
  --shadowColor: #444444;
  --favi:url("https://sd-images.operacdn.com/api/v1/images/e01f5e995117d1f4cffdbff2b99f829a9d7505d3.png");
  --favi2: url(https://sd-images.operacdn.com/api/v1/images/a07f3d790e4930d428dd93da3736a027c3c3074d.png);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
body {
  cursor: url(./images/cursor1.cur),default;
  color: var(--fontMainColor);
  font-family: Arial, Helvetica, sans-serif !important;
  background-image: url(./images/backimage.png);
 
}
body::-webkit-scrollbar{
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #000000,#CFB776,#000000);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}
p {
font-size: 13pt;
line-height: 35px;
}
@media screen and (max-width:450px){
p {
  font-size: 12pt;
  line-height: 30px;
}
}
header {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 18%;
  height: 100%;
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  border-bottom: 2px solid #CFB776;
  opacity: 1;
  transition: transform .6s ease-in-out;
  z-index: 100;
}

@media screen and (max-width:450px) {
  header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      position: fixed;
      width: 100%;
      height: 5em;
      background-image: linear-gradient(90deg, #000000,#101010,#000000);
      border: 1px solid #CFB776;
      opacity: 1;
      transition: transform .6s ease-in-out;
      z-index: 20;
      margin-top: -80px;
  }
}
@media screen and (max-width:450px) {
.hidden {
  transform: translateX(-450px);
}
}
button {
  cursor: url(./images/cursor3.cur),pointer !important;
}
.prime-logo {
  width: 15em;
  margin-bottom: 5px;
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
  border: 1px solid #CFB776;
  border-radius: 20px 20px 10px;
  animation:  neons 2s ease-in-out infinite;
  padding: 5px;
}
.btn-container {
  padding: 1em;
  transition: .2s ease-in-out;
}
.btn-container:hover {
  cursor: url(./images/cursor3.cur),pointer !important;
  background-color: #000000;
}
.btn-menu {
  display: flex;
  align-items: center;
  background: none;
  color: var(--fontSecudaryColor);
  font-weight: 600;
  border: none;
  width: 15.3em;
  margin-bottom: -18px;
  transition: .2s ease-in-out;
  margin-top: -15px;
  margin-left: -15px;
  height: 85px;
}
.btn-menu {
border: 2px;
}
.btn-menu:hover {
  margin-left: -7px;
}
.line-division {
  border: 1px solid #CFB776;
  cursor: url(./images/cursor3.cur),pointer !important;
}
@media screen and (max-width:450px) {
  .line-division {
    display: none;
  }
}
.btn-btn-primary {
  display: none;
  margin-top: 0; 
  background-image: linear-gradient(90deg, #000000,#ffffff,#000000); 
  border: 3px solid #000000; 
  color: #000000; font-weight: 800;
  border-radius: 50px;
  width: 5em;
}
.btn-btn-primary:hover {
  color: var(--fontSecundaryColor);
  font-weight: 600;
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
}
.btn-navbar {
  background-image: linear-gradient(90deg, #000000,#616161,#000000);
  color: var(--fontSecudaryColor);
  font-size: 12pt;
  border-radius: 10px;
  width: 13em;
  transition: .2s;
  font-weight: 500;
}
.btn-navbar:hover {
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  font-weight: 600;
}

@media screen and (max-width:450px) {
  .btn-btn-primary {
    display: block;
    height: 4em;
    border-radius: 10px;
  }
  .btn-container {
    display: none;
  }
  .navbar-body-mobile {
    display: grid;
    padding: 10px;
    gap: 30px;
  }
  .btn-navbar {
    background-image: linear-gradient(90deg, #000000,#616161,#000000);
    color: var(--fontSecudaryColor);
    font-size: 12pt;
    border-radius: 10px;
    width: 13em;
    transition: .2s;
    font-weight: 500;
  }
}
main  {
  padding-left: 16em;
  width: 99%;
}
@media screen and (min-width:1800px) {

  .noticia-container {
    display: flex;
    flex-direction: row;
    margin-left: 15em;
  }
  .prime-logo {
    width: 21em;
  }
  .btn-menu {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  main {
    width: 86%;
    margin-left: 12em;
  }
  footer {
    margin-left: 10em;
  }
}
@media screen and (max-width:450px) {
  main {
    margin-left: 10px;
    padding-left: 0;
    margin-top: 100px;
    width: 94%;
}
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fontSecudaryColor);
  background-image: linear-gradient(90deg, #000000,#616161,#000000);
  border: 4px solid var(--borderColor);
  border-radius: 10px 20px 50px;
  box-shadow: 3px 3px 3px var(--shadowColor);
  padding: 5px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(90deg, #000000,#ffffff,#000000);
  opacity: 0.9;
  border-radius: 50px 20px;
  padding: 10px;
  border-top: 4px solid var(--borderColor);
  border-bottom: 4px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  box-shadow: 3px 3px 0px var(--shadowColor);
  margin-bottom: 1em;
  width: 80%;
  margin-left: 16em;
  margin-top: 10px;
}

.image-contact {
  border: 3px solid black;
 width: 5em;
 border-radius: 10px;
 box-shadow: 5px 5px 5px var(--borderColor);
}
@media screen and (max-width: 450px) {
  .contact-container {
    margin-left: .2em;
    width: 95%;
  }
  .image-contact {
      width: 3em;
      border-radius: 10px;
  }
}
.intro-video {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  box-shadow: 4px 4px 5px var(--shadowColor);
  border: 1px solid var(--borderColor);
  }
  @media screen and (max-width:450px) {
    .intro-video {
      margin-top: -20px;
    }
  }
.container-spacing {
  height: 100px;
}
.card-header {
  background-image: linear-gradient(90deg, #000000,#656565,#000000);
  color: var(--fontSecudaryColor);
  z-index: 1;
  
}
.card-img-top {
  width: 10px;
}
.card-body {
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
  color: var(--fontSecudaryColor);
}
.card-footer {
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  color: var(--fontSecudaryColor);
}
.noticia-container {
  display: flex;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

@media screen and (max-width:450px) {
  .noticia-container {
    justify-content: center;
    margin-top: -50px;
  }
}

@media screen and (max-width:450px){
  .offcanvas-title {
    color: var(--fontSecudaryColor);
    font-weight: 600;
  }
  .offcanvas-header {
    background-image: linear-gradient(90deg, #000000,#656565,#a3a3a3);
    color: var(--fontMainColor);
  }
  .offcanvas-body {
   background-color: var(--headerMainColor);
   color: var(--fontMainColor);
   font-weight: 500;
   background-image: linear-gradient(90deg, #000000,#616161,#000000);
  }
  .offcanvas-body p {
    color: var(--fontSecudaryColor);
  }
}

.source.svelte-wo3w6o.svelte-wo3w6o:before {
  --size: 16px;
  background: var(--favi);
  background-size: var(--size) var(--size);
  content: "";
  display: inline-block;
  height: var(--size);
  margin: 0 8px 0 0;
  vertical-align: text-bottom;
  width: var(--size);
}
.source.svelte-wo3w6o2.svelte-wo3w6o2:before {
  --size: 16px;
  background: var(--favi2);
  background-size: var(--size) var(--size);
  content: "";
  display: inline-block;
  height: var(--size);
  margin: 0 8px 0 0;
  vertical-align: text-bottom;
  width: var(--size);
}
.source-link {
  color: var(--fontSecudaryColor);
  font-weight: 600;
}
.source-link:hover {
  color: #77adff
}
@media screen and (max-width: 450px) {
  .source-img {
    width: 20em;
    border-radius: 50px;
    box-shadow: 3px 3px 5px var(--shadowColor);
    border: 3px solid var(--borderColor);
  }
}


