:root {
  --backgroundMainColor: #f7f7f7;
  --fontMainColor: #000000;
  --fontSecudaryColor: #f7f7f7;
  --headerMainColor: #05013d;
  --cardColor: #c7e6ff;
  --borderColor: #CFB776;
  --shadowColor: #444444;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
body {
  cursor: url(./images/cursor1.cur),default;
  color: var(--fontMainColor);
  font-family: Arial, Helvetica, sans-serif !important;
  background-image: linear-gradient(90deg, #1E1A18,#161513,#1E1A18);
 
}
body::-webkit-scrollbar{
width: 9px;
}
body::-webkit-scrollbar-track {
background-image: linear-gradient(90deg, #000000,#252525,#000000);
}
body::-webkit-scrollbar-thumb {
background-image: linear-gradient(90deg, #1E1A18,#CFB776,#1E1A18);

border-radius: 4px;
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}
p {
font-size: 14pt;
line-height: 35px;
}
@media screen and (max-width:450px){
p {
  font-size: 12pt;
  line-height: 30px;
}
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(90deg, #1E1A18,#161513,#1E1A18);
  border-bottom: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  opacity: 1;
  transition: transform .6s ease-in-out;
  z-index: 12;
}

.hidden {
  transform: translateY(-150px);
}
.hidden-eva {
  transform: translateX(-150px);
  transition: transform .6s ease-in-out;
}
@media screen and (max-width:450px) {
  .hidden {
    transform: translateX(-450px);
  }
  .hidden-eva {
    transform: translateX(-450px);
    transition: transform .6s ease-in-out;
  }
}
button {
  cursor: url(./images/cursor3.cur),pointer !important;
}
.container-spacing {
height: 100px;
}
.prime-logo {
  width: 20em;
  margin-bottom: 5px;
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
  
  border-radius: 20px 20px 10px;
  animation:  neons 2s ease-in-out infinite;
  padding: 5px;
}

summary{
border-radius: 10px 20px 50px;
height: 3em;
padding: 10px;
border-left: 4px solid var(--borderColor);
color: var(--fontSecudaryColor);
transition: .2s;
border-left: 4px solid var(--backgroundMainColor);
}
summary:hover {
border-left: 4px solid var(--borderColor);
margin-left: 1em;

}
.eva {
position: fixed;
z-index: 15;

}

.eva-icon {
border-radius: 100em;
width: 4em;
animation: neon 1s ease-in-out infinite;
cursor: url(./images/cursor3.cur),pointer !important;


}
.eva-icon-info {
width: 4em;
cursor: url(./images/cursor3.cur),pointer !important;
}
@keyframes neon {
0% {
  box-shadow:  0px 0px 10px var(--borderColor);
}
50% {
  box-shadow:  0px 0px 10px var(--fontMainColor);
}
100% {
  box-shadow:  0px 0px 10px var(--borderColor);
}
}
@media  screen and (max-width: 450px) {
.eva-icon {
  width: 4em;
}
}
.eva-icon:hover {
border: 4px solid var(--hoverColor);
}
details {
width: 20em;
}
summary {
font-weight: 900;
}
.offcanvas-title {
color: var(--fontSecudaryColor);
}
.offcanvas-header {
background-image: linear-gradient(90deg,#000000,#252525,#656565);
color: var(--fontMainColor);

}
.offcanvas-body {
background-image: linear-gradient(90deg,#000000,#252525,#000000);
color: var(--fontSecudaryColor);

}
.eva-info {
background-image: linear-gradient(90deg,#000000,#101010,#000000);
border-radius: 50px 20px;
width: 75em;
padding: 1em;
color: var(--fontSecudaryColor);
box-shadow: 3px 3px 5px var(--shadowColor);

}
.sisters {
display: flex;
align-items: center;
justify-content: space-around;
}
.sister {
width: 5em;
border-radius: 100px;

}
@media screen and (max-width:450px){
.offcanvas-title {
  color: var(--fontSecudaryColor);
  font-weight: 600;
}
.offcanvas-header {
  background-image: linear-gradient(90deg,#000000,#252525,#656565);
  color: var(--fontMainColor);
}
.offcanvas-body {
 background-color: var(--headerMainColor);
 color: var(--fontMainColor);
 font-weight: 500;
 background-image: linear-gradient(90deg,#000000,#101010,#000000);
}
.offcanvas-body p {
  color: var(--fontSecudaryColor);
}
.eva-info {
  width: 24em;
}
.sisters {
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;

}
.sister {
width: 6em;
border-radius: 100px;
margin: 10px;

}

}
.btn-primary {
margin-top: 5em;
border-radius: 100px;
transition: .6s ease-in-out;
}
@media screen and (max-width:450px) {
.btn-primary {
  margin-top: 32em;
  border-radius: 100px;
}
.eva {
  height: 10px;
}

}

nav {
margin-right: 3em;
}
@media screen and (max-width:450px) {
nav {
  margin-right: 0;
}
}
.btn-prime {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  color: var(--fontSecudaryColor);
  font-size: 12pt;
  border-radius: 10px;
  width: 10em;
  transition: .2s;
  font-weight: 500;
  
}
@media  screen and (max-width: 450px) {
  .btn-prime {
      font-size: 11pt;
      width: 10em;
      
  }
  .btn-prime:hover {
    color: var(--fontMainColor);
    font-weight: 600;
    background-image: linear-gradient(90deg, #000000,#ffffff,#000000);


}
  
}
.btn-prime:hover {
animation: moveset .3s ease-in-out forwards;


}
  main {
    padding-top: 6em;
  }
  @media screen and (max-width: 450px){
    main {
        padding-top: 7.6em;
    }
  }
  .video-sister {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-video {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 70em;
    box-shadow:  5px 5px 5px var(--shadowColor);
    z-index: 11;
    
  }
  @media screen and (max-width: 450px) {
    .main-video {
      width: 25em;
      margin-left: .2em;
      margin-top: 10px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    
  }
  .logo-spin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 50px;
  }
  .logo-spin-image {
    width: 20em;
    animation: spin 3s linear infinite;
    opacity: 0.5;
    margin-top: 50px;
    margin-bottom: 10em;
    box-shadow: 0px 0px 5px var(--shadowColor);
    border-radius: 500px;
    z-index: -1;
  }
  
  @media screen and (max-width:450px){
    .logo-spin-image {
      width: 10em;
      margin-bottom: 5em;
    }
    
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  .item {
    
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    box-shadow:  5px 5px 5px var(--shadowColor);
    border-radius: 50px;
    padding: 20px;
    margin: 40px;
    color: var(--fontMainColor);
    border-radius: 50px 20px;
    animation: neons 2s ease-in-out infinite;
}
@keyframes neons {
  0% {
    box-shadow: 5px 5px 5px #616161;
  }
  50% {
    box-shadow: 5px 5px 5px #000000;
  }
  100% {
    box-shadow: 5px 5px 5px #616161;
  }
}
  .item p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    color: var(--fontSecudaryColor);
    border-radius: 50px 20px;
    box-shadow: 3px 3px 3px var(--shadowColor);
    padding: 20px;
    

  }
  .image-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 640px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-image: url(./images/backimage.png);
    
    margin-top: 40px;
  }
  .image-containers::-webkit-scrollbar{
    width: 12px;
  
  }
  .image-containers::-webkit-scrollbar-track {
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    border-radius: 10px;
  }
  .image-containers::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #000000,#CFB776,#000000);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  @media screen and (max-width:450px){
    .image-containers {
      display: grid;
      height: 900px;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      background-image: url(./images/backimage.png);
    }
  }
  h3 {
    color: var(--fontSecudaryColor);
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    
    border-radius: 10px 20px 50px;
    box-shadow: 3px 3px 3px var(--shadowColor);
    padding: 5px;
  }
  .btn-card {
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    
    width: 20em;
    height: 40px;
    border-radius: 50px 20px;
    margin-top: 10px;
    transition: .2s;
    font-weight: 700;
    color: var(--fontSecudaryColor);
  }
.btn-card:hover {
background-color: var(--headerMainColor);
color: var(--fontSecudaryColor);
border-bottom: 3px solid var(--borderColor);
color: var(--fontMainColor);
animation: moveset .2s linear forwards;
}
@media screen and (max-width:450px) {
.btn-card {
  margin-left: 0em;
}
}
@keyframes moveset {
  0%{
    background-image: linear-gradient(90deg, #ffffff,#000000,#101010,#000000);
  }
  25% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#000000,#101010);
    color: var(--fontMainColor);
  }
  50% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#000000);
    color: var(--fontMainColor);
  }
  75% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#ffffff);
    color: var(--fontMainColor);
  }
  100%{
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#ffffff);
    box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
    color: var(--fontMainColor);
  }
}
.arrow {
display: none;
}
.arrow-image {
visibility: hidden;
border-radius: 100px;
z-index: 1;
}
.image-card {
  flex-wrap: wrap;
  width: 60em;
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  margin-bottom: 10px;
}
@media screen and (max-width: 1115px){
  .image-card {
    width: 20em;
  }
}

  @media screen and (max-width: 450px){
    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .arrow-image {
      visibility: visible;
      width: 4em;
      animation: arrow 1.5s ease-in-out infinite;
    }
    @keyframes arrow {
      0% {
        transform: translateX(50px);
      }
      50% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(50px);

      }
      
    }

    .container {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      padding: 24px;
      width: 300px;
      scroll-snap-type: x mandatory;
      scroll-padding: 24px;
      border-radius: 8px;
      gap: 12px;
    }
    .container .item {
      flex: 0 0 100%;
      padding: 24px;
      border-radius: 8px;
      scroll-snap-align:start;
      
      background-image: linear-gradient(90deg, #000000,#101010,#000000);
      box-shadow: 10px 10px 5px var(--shadowColor);
      margin:0;
      color: var(--fontMainColor);
      font-weight: 500;
    }
    .image-card {
      width: 21em;
      border-radius: 20px;
    }
}
.intro-video {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  
}
.service-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  background-image: linear-gradient(90deg, var(--cardColor),var(--backgroundMainColor),var(--cardColor)) ;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.service-image {
  width: 20em;
  border-radius: 40px;
}
@media screen and (max-width: 450px) {
  .service-container {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 50px;
  }
  .intro-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
    z-index: -100;
    
    
  }
  .service-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15em;
      margin-left: 5em;
      margin-top: 20px;
  }
}
.service-image2 {
  margin-top: 20px;
  width: 20em;
  border-radius: 40px;
}
@media screen and (max-width: 450px) {
  .service-image2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15em;
      margin-left: 5em;
  }
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  opacity: 0.9;
  border-radius: 50px 20px;
  padding: 10px;
  
  background-color: var(--cardColor);
  box-shadow: 3px 3px 0px var(--shadowColor);
  margin-bottom: 1em;
  width: 95%;
  margin-left: 1.5em;
}
.image-contact {
  border: 3px solid black;
 width: 5em;
 border-radius: 10px;
}
@media screen and (max-width: 450px) {
  .contact-container {
    margin-left: .5em;
  }
  .image-contact {
      width: 3em;
      border-radius: 10px;
  }
}
.container {
  display: flex;
  flex-direction: column;
}
.item-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  color: var(--fontMainColor);
  border-radius: 50px 20px;
  box-shadow: 3px 3px 3px var(--shadowColor);
  padding: 10px;
  
  color: var(--fontSecudaryColor);
}
.item {
  
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  box-shadow: 10px 10px 5px var(--shadowColor);
  border-radius: 10px;
  padding: 10px;
  margin: 40px;
  color: var(--fontSecudaryColor);
  animation: neons 2s ease-in-out infinite;
}
@keyframes neons {
  0% {
    box-shadow: 5px 5px 5px #616161;
  }
  50% {
    box-shadow: 5px 5px 5px #000000;
  }
  100% {
    box-shadow: 5px 5px 5px #616161;
  }
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fontSecudaryColor);
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  
  border-radius: 10px 20px 50px;
  box-shadow: 3px 3px 3px var(--shadowColor);
  padding: 5px;
}
.arrow {
display: none;
}
.arrow-image {
visibility: hidden;
border-radius: 100px;
z-index: 1;
}
.image-card {
flex-wrap: wrap;
width: 40em;
border-radius: 20px;
box-shadow: 4px 4px 2px var(--shadowColor);
margin-bottom: 10px;
transition: .5s;
}
.image-card:hover {
  transform: scale(1.4);

}
@media screen and (max-width: 1115px){
.image-card {
  width: 20em;
  transform: scale(1.3);
}
}

@media screen and (max-width: 450px){
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .arrow-image {
    visibility: visible;
    width: 4em;
    animation: arrow 1.5s ease-in-out infinite;
  }
  @keyframes arrow {
    0% {
      transform: translateX(50px);
    }
    50% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(50px);

    }
    
  }

  .container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 24px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
  }
  .container .item {
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align:start;
    
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    box-shadow: 10px 10px 5px var(--shadowColor);
    margin:0;
  }
  .image-card {
    width: 15em;
    border-radius: 20px;
    transform: scale(1);

  }
}

  .list-group-item {
    background-image: linear-gradient(90deg, #000000, #252525, #000000);
  }

@media screen and (max-width:450px){
  .image-containers {
    display: grid;
    height: 500px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-image: url(./images/backimage.png);
  }
}

@keyframes moveset {
  0%{
    background-image: linear-gradient(90deg, #ffffff,#000000,#101010,#000000);
  }
  25% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#000000,#101010);
    color: var(--fontMainColor);
  }
  50% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#000000);
    color: var(--fontMainColor);
  }
  75% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#ffffff);
    color: var(--fontMainColor);
  }
  100%{
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#ffffff);
    box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
    color: var(--fontMainColor);
  }
}

.chatbot-container {
  width: 350px;
  border: 1px solid #CFB776 ;
  border-radius: 20px;
  overflow: hidden;
}
.offcanvas-title {
  color: #CFB776;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
}

.chat-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid #000000;
}

.chat-body {
  height: 350px;
  padding: 10px;
  overflow-y: scroll;
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
  border: 1px solid #CFB776 ;
}
@media screen and (max-width:450px) {
  .chat-body {
    height: 400px;
  }
}
.chat-body::-webkit-scrollbar {
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
  border-radius: 20px;
  width: 10px;
}
.chat-body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg,#000000,#CFB776,#000000);
  border-radius: 20px;
}

.chat-message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  
}

.received {
  background-color: #0e0e0e;
  border-radius: 10px 20px 50px;
  border: 1px solid #CFB776;
  color: white;
}
.received01 {
  border-radius: 10px 20px 50px;
  color: #f1f1f1;

}

.sent {
  color: #ffffff;
  text-align: right;
  border-radius: 50px 20px 10px;
}


.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(90deg, #000000,#101010,#000000);
  color: #f1f1f1;
  width: 350px;
}
.option-input {
  border: 1px solid #CFB776;
  border-radius: 10px;
  background-color: #101010;
}
.option-input:hover {
  color: #CFB776;
  text-shadow: 0px 0px 10px #CFB776;
}

.btnSent {
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  background-color:#101010;
  color: white;
  transition: .2s;
}
.btnSent:hover {
  animation: send .1s ease-in-out forwards;
}
@keyframes send {
  0% {
    background-image: linear-gradient(90deg, #ffffff,#000000,#000000);
  }
  50% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#000000);
  }
  75% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff);
    color: #000000;
  }
  100% {
    background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff);
    color: #000000;
  }
}
.btn-btn-chatbot {
  width: 4em;
  height: 4em;
  border-radius: 200px;
  border: 3px solid #CFB776;
  background-color: #101010;
  color: #f1f1f1;
  position: fixed;
  margin-left: 94%;
  margin-top: 33%;
  z-index: 20;
}
@media screen and (max-width: 450px) {
  .btn-btn-chatbot {
    margin-left: 83%;
    margin-top: 123%;
  }
}
.btn-btn-chatbot-exit {
  width: 3em;
  height: 3em;
  border-radius: 200px;
  border: 3px solid #CFB776;
  background-color: #101010;
  color: #f1f1f1;
}

.container-loading {
  display: flex;
  align-items: start;
  justify-content: center;
  backdrop-filter: blur(15px);
  position: fixed;
  width:100%;
  height: 1090em;
  z-index: 50;

}

.second-container-loading {
  position: fixed;
  z-index: 51;
}
footer {
  background-color: #101010;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid var(--borderColor);
}
.container1 {
  max-width: auto;
  margin: 0 auto;
}
.footer-logo {
  border-bottom: 1px solid var(--borderColor);
}
.footer-image-logo {
width: 20em;
margin-bottom: 20px;
}
.footer-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.footer-menu li {
  display: inline-block;
  margin-right: 20px;
}
.footer-menu li:last-child {
  margin-right: 0;
}
.footer-menu a {
  color: #fff;
  text-decoration: none;
}
.footer-inc {
display: flex;
align-items: center;
justify-content: center;
list-style: none;
margin-bottom: -5px;
}

