:root {
    --backgroundMainColor: #f7f7f7;
    --fontMainColor: #000000;
    --fontSecudaryColor: #f7f7f7;
    --headerMainColor: #05013d;
    --cardColor: #c7e6ff;
    --borderColor: #CFB776;
    --shadowColor: #444444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    cursor: url(./images/cursor1.cur),default;
    color: var(--fontMainColor);
    font-family: Arial, Helvetica, sans-serif !important;
    background-image: linear-gradient(90deg, #1E1A18,#161513,#1E1A18);
    box-shadow: inset 0px 0px 10px #000000; /* novo */
   
}
body::-webkit-scrollbar{
  width: 9px;
}
body::-webkit-scrollbar-track {
  background-image: linear-gradient(90deg, #000000,#252525,#000000);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #1E1A18,#CFB776,#1E1A18);

  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}
p {
  font-size: 14pt;
  line-height: 35px;
}
@media screen and (max-width:450px){
  p {
    font-size: 12pt;
    line-height: 30px;
  }
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    transition: transform .6s ease-in-out;
    z-index: 12;
    box-shadow: inset 0px 0px 100px #000000; /* novo */
}


.hidden {
  transform: translateY(-150px);
}
.hidden-eva {
  transform: translateX(-150px);
  transition: transform .6s ease-in-out;
}
@media screen and (max-width:450px) {
  .hidden {
    transform: translateX(-450px);
  }
  .hidden-eva {
    transform: translateX(-450px);
    transition: transform .6s ease-in-out;
  }
}
button {
    cursor: url(./images/cursor3.cur),pointer !important;
}
.container-spacing {
  height: 100px;
}
.prime-logo {
    width: 18em;
    margin-bottom: 5px;
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    border: 1px solid var(--borderColor);
    border-radius: 20px 20px 10px;
    animation:  neons 2s ease-in-out infinite;
    padding: 5px;
}

summary{
  border-radius: 10px 20px 50px;
  height: 3em;
  padding: 10px;
  border-left: 4px solid var(--borderColor);
  color: var(--fontSecudaryColor);
  transition: .2s;
  border-left: 4px solid var(--backgroundMainColor);
}
summary:hover {
  border-left: 4px solid var(--borderColor);
  margin-left: 1em;

}
.eva {
  position: fixed;
  z-index: 100;
  
}

.eva-icon {
  border-radius: 100em;
  width: 3em;
  animation: neon 1s ease-in-out infinite;
  cursor: url(./images/cursor3.cur),pointer !important;
  transition: transform .6s ease-in-out;

 
}
.eva-icon-info {
  width: 4em;
  cursor: url(./images/cursor3.cur),pointer !important;
  
}
@keyframes neon {
  0% {
    box-shadow:  0px 0px 10px var(--borderColor);
  }
  50% {
    box-shadow:  0px 0px 10px var(--fontMainColor);
  }
  100% {
    box-shadow:  0px 0px 10px var(--borderColor);
  }
}
@media  screen and (max-width: 450px) {
  .eva-icon {
    width: 3em;
  }
}
.eva-icon:hover {
  border: 4px solid var(--hoverColor);
}
details {
  width: 20em;
}
summary {
  font-weight: 900;
}
.offcanvas-title {
  color: var(--fontSecudaryColor);
}
.offcanvas-header {
  background-image: linear-gradient(90deg,#000000,#252525,#656565);
  color: var(--fontMainColor);
  border: 1px solid var(--borderColor);
}
.offcanvas-body {
  background-image: linear-gradient(90deg,#000000,#252525,#000000);
 color: var(--fontSecudaryColor);
 border: 1px solid var(--borderColor);
}
.eva-info {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  border-radius: 50px 20px;
  width: 75em;
  padding: 1em;
  color: var(--fontSecudaryColor);
  box-shadow: 3px 3px 5px var(--shadowColor);
  border: 1px solid var(--borderColor);
}
.sisters {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sister {
  width: 5em;
  border-radius: 100px;

}
@media screen and (max-width:450px){
  .offcanvas-title {
    color: var(--fontSecudaryColor);
    font-weight: 600;
  }
  .offcanvas-header {
    background-image: linear-gradient(90deg,#000000,#252525,#656565);
    color: var(--fontMainColor);
  }
  .offcanvas-body {
   background-color: var(--headerMainColor);
   color: var(--fontMainColor);
   font-weight: 500;
   background-image: linear-gradient(90deg,#000000,#101010,#000000);
  }
  .offcanvas-body p {
    color: var(--fontSecudaryColor);
  }
  .eva-info {
    width: 24em;
  }
  .sisters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.sister {
  width: 6em;
  border-radius: 100px;
  margin: 10px;

}
  
}
.btn-primary {
  margin-top: 5em;
  border-radius: 100px;
  transition: transform .6s ease-in-out;
}
@media screen and (max-width:450px) {
  .btn-primary {
    margin-top: 32em;
    border-radius: 100px;
  }
  .eva {
    height: 10px;
  }
  
} 
nav {
  margin-right: 3em;
}
@media screen and (max-width:450px) {
  nav {
    margin-right: 0;
  }
}
.btn-prime {
    background-image: linear-gradient(90deg,#000000,#101010,#000000);
    color: var(--fontSecudaryColor);
    font-size: 12pt;
    border-radius: 10px;
    width: 6em;
    height: 30px;
    transition: .2s;
    font-weight: 500;
    border: 1px solid var(--borderColor);
}
.btn-prime-select {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  color: var(--fontSecudaryColor);
  font-size: 12pt;
  border-radius: 10px;
  width: 8em;
  transition: .2s;
  font-weight: 500;
  height: 30px;
  transition: .5s;
  padding-left: .6em;
  border: 1px solid var(--borderColor);
  
}
.btn-prime-select:hover {
animation: moveset .3s ease-in-out forwards;
}
.btn-prime-select option {
  background-color: #101010 !important;
  color: #ffffff !important;

}
.btn-prime-language {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  color: var(--fontSecudaryColor);
  font-size: 12pt;
  border-radius: 10px;
  width: 6em;
  transition: .2s;
  font-weight: 500;
  height: 30px;
  border: 1px solid var(--borderColor);
}
.btn-prime-language:hover {
  animation: moveset .3s ease-in-out forwards;
  
}
.btn-btn-primary {
  display: none;
  margin-top: 0; 
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  border: 1px solid var(--borderColor); 
  color: var(--fontSecudaryColor); 
  font-weight: 800;
  border-radius: 50px;
  width: 5em;
}
.btn-btn-primary:hover {
  animation: moveset .3s ease-in-out forwards;
}

@media screen and (max-width:450px) {
  .btn-btn-primary {
    display: block;
    height: 4em;
    border-radius: 10px;
  }
  .navbar-body-mobile {
    display: grid;
    padding: 10px;
    gap: 30px;
  }
  .btn-navbar {
    background-image: linear-gradient(90deg,#000000,#101010,#000000);
    color: var(--fontSecudaryColor);
    font-size: 12pt;
    border-radius: 10px;
    width: 10em;
    transition: .2s;
    font-weight: 500;
    border: 1px solid var(--borderColor);

  }
  .btn-navbar:hover {
    animation: moveset .2s ease-in-out forwards;
  }
}

@media  screen and (max-width: 450px) {
    .btn-prime {
      display: none;
        
    }
    .btn-prime-select {
display: none;
    }
    .btn-prime:hover {
      animation: moveset .3s ease-in-out forwards;
  }
.btn-prime-language {
display: none;
}
    
}
.btn-prime:hover {
  animation: moveset .3s ease-in-out forwards;


}
  main {
    padding-top: 6em;
  }
  @media screen and (max-width: 450px){
    main {
        padding-top: 7.6em;
    }
  }
  .intro-empresa {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-image: url(./images/backform.png);
    background-attachment: fixed;
    height: 33em;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    padding: 10px;
    }

    .container h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--fontSecudaryColor);
      width: 100%;
      border-bottom: .5px groove var(--borderColor);
    }
    .container {
      background-color: #0000009f;
      border: .5px solid #f1f1f1;
      border-radius: 10px;
        }
    .container button {
      margin-top: 10px; 
      margin-bottom: 10px; 
      width: 100%; 
      border-radius: 50px 20px 50px;         
      background-color: #101010;
      border-color: #CFB776;
      transition: ease-in-out .3s;
    }
    .container button:hover {
      box-shadow: inset 0px 0px 5px var(--borderColor);
      background-color: rgb(0, 0, 0) !important;
    }
    .form-control{
      border-bottom: 1px solid #CFB776 !important;
      outline: none;
      box-shadow: inset 0px 0px 10px #000000;
      border-radius: 10px !important;
      color: var(--fontMainColor) !important;
      text-shadow: 1px 1px px var(--fontMainColor);
      margin-bottom: 20px;
    }
    input {
      height: 60px;
      transition: .5s ease-in-out;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
    }

    .intro-empresa1 {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-shadow: 0px 0px 10px #000000;
      margin-top: 20px;
      background-image: url(./images/backgroundEmpresa01.png);
      background-attachment: fixed;
      height: 37em;
      background-position: center bottom ;
      background-size: cover;
      background-blend-mode: darken;
      }
      .intro-empresa2 {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-shadow: 0px 0px 10px #000000;
        margin-top: 20px;
        background-image: url(./images/backgroundEmpresa02.png);
        background-attachment: fixed;
        height: 80em;
        background-position: center bottom ;
        background-size: cover;
        background-blend-mode: darken;
        margin-bottom: -90px;
        }
        @media screen and (max-width: 450px) {
          .intro-empresa {
            background-position: center;
            margin-top: -30px;
          }
          section {
            display: none;
          }
          .intro-empresa1 {
            background-image: none;
            background-color: #252525 !important;
            background-image: url(./images/backgroundEmpresa02.png);
            background-position: bottom;
          }
          .intro-empresa2 {
            background-image: url(./images/backform.png);
            height: fit-content;
          }
        }
.intro-container {
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--fontMainColor);
  font-weight: 500;


}
.intro-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  

}
.text-intro {
 padding-left: 30px;
}
.missao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid var(--borderColor);
  border: 1px solid var(--borderColor);
  background-color: #000000e7;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  color: var(--fontSecudaryColor);
  transition: .5s;
  padding: 1px;
  animation: neons 2s ease-in-out infinite;
  text-shadow: 1px 1px #000000;
}


.visao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  background-color: #000000e7;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  color: var(--fontSecudaryColor);
  transition: .5s;
  animation: neons 2s ease-in-out infinite;
  text-shadow: 1px 1px #000000;
}
.valores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  background-color: #000000e7;
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  padding: 10px;
  color: var(--fontSecudaryColor);
  width: 100%;
  animation: neons 2s ease-in-out infinite;
  text-shadow: 1px 1px #000000;
}
@keyframes neons {
  0% {
    box-shadow: 5px 5px 5px #616161;
  }
  50% {
    box-shadow: 5px 5px 5px #000000;
  }
  100% {
    box-shadow: 5px 5px 5px #616161;
  }
}
@media screen and (max-width:450px) {
.missao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid var(--borderColor);
  border: 1px solid var(--borderColor);
  background-color: #000000e7;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  color: var(--fontSecudaryColor);
  transition: .5s;
  padding: 1px;
  animation: neons 2s ease-in-out infinite;
}


.visao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  background-color: #000000e7;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  color: var(--fontSecudaryColor);
  transition: .5s;
  animation: neons 2s ease-in-out infinite;
}
.valores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--borderColor);
  background-color: #000000e7;
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  padding: 10px;
  color: var(--fontSecudaryColor);
  width: 100%;
  animation: neons 2s ease-in-out infinite;
}
}
.video-sister {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-video {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 100%;
  box-shadow:  2px 2px 7px var(--shadowColor);
  border: 1px solid var(--borderColor);
  margin-top: 30px;
}
@media screen and (max-width: 450px) {
  .main-video {
    width: 25em;
    border-radius: 0px;
    border: none;
  }
}
.quemsou {
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    gap: 15px;
    background-image: url(./images/lacorebackground2.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-blend-mode: darken;
    box-shadow: 0px 0px 10px #000000;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.quemsou-body {
  padding: 40px;
  background-color: #000000e7; /* nvo */
  box-shadow: 5px 5px 5px var(--shadowColor);
  border-radius: 50px 20px;
  width: 95%;
  margin-bottom: 60px;
  color: var(--fontSecudaryColor);
  animation: neons 2s ease-in-out infinite;
  text-shadow: 0px 0px 1px #000000;
  
}

@media screen and (max-width:450px){
    .quemsou {
        display: flex;
        align-items: flex-start;
        justify-content:center ;
        flex-direction: column;
        gap: 15px;
        box-shadow: 5px 5px 5px var(--shadowColor);
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .cracha {
      margin-left: 6.2em;
    }
    .quemsou-body {
      margin-bottom: 20px;
      padding: 20px;
      margin-left: .4em;
      background-color: #000000e7;
      border: none;
      
    }
}
.cracha-frente {
    margin-top: 2em;
    width: 20em;
    transition: .2s;
    margin-left: 3em;
    border: 1px solid var(--borderColor);
    box-shadow: 2px 2px 3px var(--shadowColor);
    border-radius: 300px;
   

}
@media screen and (max-width: 450px){
   .cracha-frente {
    margin-top: 1em;
    border-radius: 300px;
    margin-left: -1.7em;
    width: 15em;
   }
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 3em;
  }
 
    .btn-card {
        background-image: linear-gradient(90deg,#000000,#101010,#000000);
        border: 1px solid var(--borderColor);
        width: 20em;
        height: 40px;
        border-radius: 50px 20px;
        margin-top: 10px;
        transition: .2s;
        font-weight: 700;
        color: var(--fontSecudaryColor);
      }
  .btn-card:hover {
    animation: moveset .2s linear forwards;
  }
  @media screen and (max-width:450px) {
    .btn-card {
      margin-left: -7.5em;
    }
  }
  .service-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;

}
@media screen and (max-width: 450px) {
    .service-video {
        margin-top: -60px;
    }
}
.service-steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 30px;
  height: 60em;
  margin-bottom: 100px;
  line-height: 3em;
  background-image: url(./images/elegancia.png);
  background-attachment: fixed;
  background-position: center bottom;
  
}
@media screen and (max-width: 450px) {
  .service-steps {
    line-height: 2em;
    background-image: url(./images/backform.png);
    background-position: right bottom;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom: 90px;
  }
}
.step-card01 {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  color: var(--fontMainColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  animation: neons 2s ease-in-out infinite;
}
.card01-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: var(--fontSecudaryColor);
}
.step-card02 {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  color: var(--fontMainColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  animation: neons 2s ease-in-out infinite;
}
.card02-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: var(--fontSecudaryColor);
}
.step-card03 {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  color: var(--fontMainColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
  box-shadow: 5px 5px 5px var(--shadowColor);
  animation: neons 2s ease-in-out infinite;
}
.card03-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  color: var(--fontSecudaryColor);
}
@media screen and (max-width:450px) {
  .step-card01 {
    width: 15em;
    height: 15em;
    

  }
  .step-card02 {
    width: 15em;
    height: 15em;

  }
  .step-card03 {
    width: 15em;
    height: 15em;

  }
}
.project-container {
  margin-top: -5em;
  margin-bottom: -11em;
}
.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    height: 40em;
    box-shadow: 0px 0px 10px #000000;
    background-image: linear-gradient(90deg,#000000,#101010,#000000);
    padding: 30px;
    margin-top: 10px;
}
.service-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color:var(--fontSecudaryColor);
  border-radius: 50px ;
  margin-right: 10px;
  box-shadow: 4px 4px 0px var(--borderColor);
  margin-bottom: 20px;
  padding: 20px;
}
.service-image {
    width: 30em;
    border-radius: 40px;
}
@media screen and (max-width: 450px) {
    .service-container {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;

    }
    .service-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20em;
        margin-left: 2.5em;
    }
    .service-body {
      margin-left: 10px;
      padding: 15px;
    }
}
.service-image2 {
    width: 30em;
    border-radius: 40px;
}
@media screen and (max-width: 450px) {
    .service-image2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20em;
        margin-left: 3em;
    }
    .contract-container {
      margin-top: 250px;
    }
}

.btn-card-service {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  border: 1px solid var(--borderColor);
  width: 20em;
  height: 3em;
  border-radius: 50px 20px;
  margin-bottom: 30px;
  font-weight: 700;
  transition: .5s;
  color: var(--fontSecudaryColor);
  transition: .2s;
  
  }
  @media screen and (max-width:450px) {
    .btn-card-service {
        border: 3px solid var(--borderColor);
        width: 20em;
        height: auto;
        border-radius: 50px 20px;
        margin-bottom: 15px;
        border: 1px solid var(--borderColor);
      }
  }
  .btn-card-service:hover {
    animation: moveset .2s linear forwards;
  }
  .project-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 200px;
  }
  .project-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
@media screen and (max-width: 450px) {
    .project-card-title {
      margin-top: 180px;
    }
    .project-video {
        margin-top: 10px;
    }
}
  .card-header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    color: var(--fontSecudaryColor);
    z-index: 1;
    height: 40px;
  }
  .btn-apk {
    color: var(--fontSecudaryColor);
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    width: 10em;
    border-radius: 10px;
    box-shadow: 2px 2px 3px var(--shadowColor);
    border: 1px solid var(--borderColor);
  }
  .btn-apk:hover {
    animation: moveset .2s ease-in-out forwards;
  }
  @keyframes moveset {
    0%{
      background-image: linear-gradient(90deg, #ffffff,#000000,#101010,#000000);
    }
    25% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#000000,#101010);
      color: var(--fontMainColor);
    }
    50% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#000000);
      color: var(--fontMainColor);
    }
    75% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#ffffff);
      color: var(--fontMainColor);
    }
    100%{
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff,#ffffff);
      box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
      color: var(--fontMainColor);
    }
  }
  .aplication {
    background-image: url(./images/aplicationimage.png);
    background-attachment: fixed;
    background-size: cover;
    height: 50em;
    background-position: center;
  }   
  
  @media screen and (max-width:450px){
    .aplication {
      margin-bottom: -240px;
    }
    .image-containers {
      display: grid;
      height: 450px;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      background-image: url(./images/backimage.png);
    }
  }
  .partner-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .partner-card-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    width: 100%;
  }
  .partner-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
@media screen and (max-width: 450px) {
    .partner-video {
        margin-top: 30px;
    }
}
.btn-card-partner {
  background-image: linear-gradient(90deg,#000000,#101010,#000000);
  border: 1px solid var(--borderColor);
  width: 20em;
  height: 3em;
  border-radius: 50px 20px;
  margin-bottom: 30px;
  font-weight: 700;
  transition: .5s;
  color: var(--fontSecudaryColor);
  transition: .2s;
  }
  @media screen and (max-width:450px) {
    .btn-card-partner {
        background-color: var(--hoverColor);
        border: 3px solid var(--borderColor);
        width: 20em;
        height: auto;
        border-radius: 50px 20px;
        border: 1px solid var(--borderColor);
      }
  }
  .btn-card-partner:hover {
    background-color: var(--headerMainColor);
    color: var(--fontSecudaryColor);
    border-bottom: 3px solid var(--borderColor);
    color: var(--fontMainColor);
    animation: moveset .2s linear forwards;
  }
  

  .chatbot-container {
    width: 350px;
    border: 1px solid #CFB776 ;
    border-radius: 20px;
    overflow: hidden;
  }
  .offcanvas-title {
    color: #CFB776;
  }

  .chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
  }
  
  .chat-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #000000;
  }
  
  .chat-body {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    border: 1px solid #CFB776 ;
  }
  .chat-body::-webkit-scrollbar {
    background-image: linear-gradient(90deg, #000000,#252525,#000000);
    border-radius: 20px;
    width: 10px;
  }
  .chat-body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg,#000000,#CFB776,#000000);
    border-radius: 20px;
  }
  
  .chat-message {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  .received {
    background-color: #0e0e0e;
    border-radius: 10px 20px 50px;
    border: 1px solid #CFB776;
    color: white;
  }
  .received01 {
    border-radius: 10px 20px 50px;
    color: #f1f1f1;

  }
  
  .sent {
    color: #ffffff;
    text-align: right;
    border-radius: 50px 20px 10px;
  }
  .options {
    background-color: red;
  }
  
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-image: linear-gradient(90deg, #000000,#101010,#000000);
    color: #f1f1f1;
    width: 350px;
  }
  .option-input {
    border: 1px solid #CFB776;
    border-radius: 10px;
    background-color: #101010;
  }
  .option-input:hover {
    color: #CFB776;
    text-shadow: 0px 0px 10px #CFB776;
  }
  
  .btnSent {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background-color:#101010;
    color: white;
    transition: .2s;
  }
  .btnSent:hover {
    animation: send .1s ease-in-out forwards;
  }
  @keyframes send {
    0% {
      background-image: linear-gradient(90deg, #ffffff,#000000,#000000);
    }
    50% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#000000);
    }
    75% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff);
      color: #000000;
    }
    100% {
      background-image: linear-gradient(90deg, #ffffff,#ffffff,#ffffff);
      color: #000000;
    }
  }
  .btn-btn-chatbot {
    width: 3.9em;
    height: 3.9em;
    border-radius: 200px;
    border: 3px solid #CFB776;
    background-color: #101010;
    color: #f1f1f1;
    position: fixed;
    margin-top: 10%;
    margin-left: .2%;
    z-index: 20;
    font-size: 12px;
    transition: transform .6s ease-in-out;
  }
  @media screen and (min-width: 1220px) {
    .btn-btn-chatbot {
      margin-top: 12%;
    }
  }
  @media screen and (max-width: 450px) {
    .btn-btn-chatbot {
      margin-left: .7%;
      margin-top: 142%;
    }
  }
  .btn-btn-chatbot-exit {
    width: 3em;
    height: 3em;
    border-radius: 200px;
    border: 3px solid #CFB776;
    background-color: #101010;
    color: #f1f1f1;
  }

  .container-loading {
    display: flex;
    align-items: start;
    justify-content: center;
    backdrop-filter: blur(15px);
    position: fixed;
    width:100%;
    height: 1090em;
    z-index: 50;

  }
  .second-container-loading {
    position: fixed;
    z-index: 51;
  }

  footer {
    background-color: #101010;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid var(--borderColor);
    margin-top: 14px;
}
.container-footer {
    max-width: auto;
    margin: 0 auto;
}
.footer-logo {
    border-bottom: 1px solid var(--borderColor);
}
.footer-image-logo {
  width: 20em;
  margin-bottom: 20px;
}
.footer-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
.footer-menu li:last-child {
    margin-right: 0;
}
.footer-menu a {
    color: #fff;
    text-decoration: none;
}
.footer-inc {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: -5px;
}
