:root {
    --backgroundMainColor: #f7f7f7;
    --fontMainColor: #000000;
    --fontSecudaryColor: #f7f7f7;
    --headerMainColor: #05013d;
    --hoverColor: #76c8ff;
    --cardColor: #c7e6ff;
    --borderColor: #000000;
    --shadowColor: #444444;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    cursor: url(./images/cursor1.cur),default;
    color: var(--fontMainColor);
    font-family: Arial, Helvetica, sans-serif !important;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background-color: #0e0149;
    border-bottom: 2px solid white;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out;
}
.hidden {
  transform: translateY(-100px);
}
button {
    cursor: url(./images/cursor3.cur),pointer !important;
}
.prime-logo {
    width: 20em;
    margin-bottom: 15px;
}
/*.return {
    display: flex;
    align-items:center;
    justify-content: center;
    border: 1px solid white;
    border-radius:100px;
    width: 5em;
    height: 5em;
    background-color: var(--btnPressColor) ;
    opacity: 0.7;
    position: absolute;
    
}
.return:hover {
    color: red;
}*/
.btn-prime {
    background-color: var(--headerMainColor);
    color: var( --fontSecudaryColor);
    border: 2px solid var(--headerMainColor);
    font-size: 12pt;
}
@media  screen and (max-width: 450px) {
    .btn-prime {
        font-size: 11pt;
    }
    
}
.btn-prime:hover {
    color: var(--hoverColor);
}
.btn-prime::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:var(--hoverColor); /* Parametrizável*/
    transition: width .15s ease-in;
  }
  
  .btn-prime:hover::after {
    width: 100%;
  }
  main {
    padding-top: 6em;
  }
  @media screen and (max-width: 450px){
    main {
        padding-top: 7.6em;
    }
  }
.intro-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
}
.logo-spin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 50px;
}
.logo-spin-image {
  width: 20em;
  animation: spin 3s linear infinite;
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 10px;
}
@media screen and (max-width:450px){
  .logo-spin-image {
    width: 10em;
    margin-bottom: 30px;
  }
  
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.intro-container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: var(--fontMainColor);
  font-weight: 500;
}
.intro-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
}
.text-intro {
 padding-left: 30px;
}
.missao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 4px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  background-color: var(--cardColor);
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.visao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 4px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  background-color: var(--cardColor);
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.valores {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 4px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  background-color: var(--cardColor);
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.quemsou {
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: row;
    gap: 15px;
    border-top: 4px solid var(--headerMainColor);
    border-bottom: 4px solid var(--headerMainColor);
    background-color: var(--cardColor);
    border-radius: 20px;
    box-shadow: 10px 10px 5px var(--shadowColor);
    border-radius: 100px;
}
@media screen and (max-width:450px){
    .quemsou {
        display: flex;
        align-items: flex-start;
        justify-content:center ;
        flex-direction: row;
        gap: 15px;
        background-color: var(--cardColor);
        border-radius: 20px;
        box-shadow: 10px 10px 5px var(--shadowColor);
        border: none;
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 250px;
    }
    .cracha {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .quemsou-body {
      margin-top: 20px;
      margin-bottom: 20px;
    }
}
.cracha-frente {
    margin-top: 4em;
    border-radius: 10px;
    width: 25em;
    transition: .2s;
}
.cracha-frente:hover {
  transform:rotateY(180deg) ;
}
@media screen and (max-width: 450px){
   .cracha-frente {
    margin-top: 1em;
    border-radius: 10px;
    width: 10em;
   }
  }
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .btn-card {
    background-color: var(--hoverColor);
    border: 3px solid var(--headerMainColor);
    width: 20em;
    height: 3em;
    border-radius: 50px 20px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  @media screen and (max-width:450px) {
    .btn-card {
        background-color: var(--hoverColor);
        border: 3px solid var(--headerMainColor);
        width: 10em;
        height: auto;
        border-radius: 50px 20px;
      }
  }
  .btn-card:hover {
    background-color: var(--headerMainColor);
    color: var(--fontSecudaryColor);
  }
  .service-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    border-radius: 30px;
}
@media screen and (max-width: 450px) {
    .service-video {
        margin-top: -150px;
    }
}
.service-steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 3em;
}
@media screen and (max-width: 450px) {
  .service-steps {
    line-height: 2em;
    margin-top: 40px;
  }
}
.step-card01 {
  background-color: var(--cardColor);
  color: var(--fontMainColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.card01-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.step-card02 {
  background-color: var(--cardColor);
  color: var(--fontMainColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.card02-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.step-card03 {
  background-color: var(--cardColor);
  color: var(--fontMainColor);
  width: 20em;
  height: 20em;
  border-radius: 50px;
  box-shadow: 10px 10px 5px var(--shadowColor);
}
.card03-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
@media screen and (max-width:450px) {
  .step-card01 {
    margin-top: 30px;
    width: 15em;
    height: 15em;
  }
  .step-card02 {
    width: 15em;
    height: 15em;
  }
  .step-card03 {
    margin-bottom: 30px;
    width: 15em;
    height: 15em;
  }
}
.service-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    background-color: var(--cardColor);
    border-radius: 20px;
    box-shadow: 10px 10px 5px var(--shadowColor);
}
.service-image {
    width: 20em;
    border-radius: 40px;
}
@media screen and (max-width: 450px) {
    .service-container {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 50px;
    }
    .service-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15em;
        margin-left: 5em;
        margin-top: 20px;
    }
}
.service-image2 {
    margin-top: 20px;
    width: 20em;
    border-radius: 40px;
}
@media screen and (max-width: 450px) {
    .service-image2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15em;
        margin-left: 5em;
    }
}
.btn-card-service {
    background-color: var(--hoverColor);
    border: 3px solid var(--headerMainColor);
    width: 20em;
    height: 3em;
    border-radius: 50px 20px;
    font-weight: 700;
  }
  @media screen and (max-width:450px) {
    .btn-card-service {
        background-color: var(--hoverColor);
        border: 3px solid var(--headerMainColor);
        width: 25em;
        height: auto;
        border-radius: 50px 20px;
        margin-bottom: 150px;
      }
  }
  .btn-card-service:hover {
    background-color: var(--headerMainColor);
    color: var(--fontSecudaryColor);
  }
  .project-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 200px;
  }
  .project-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
}
@media screen and (max-width: 450px) {
    .project-card-title {
      margin-top: 50px;
    }
    .project-video {
        margin-top: 10px;
    }
}
.btn-card-project {
    background-color: var(--hoverColor);
    border: 3px solid var(--headerMainColor);
    width: 40em;
    height: 3em;
    border-radius: 50px 20px;
    margin-top: 10px;
    font-weight: 700;
  }
  @media screen and (max-width:450px) {
    .btn-card-project {
        background-color: var(--hoverColor);
        border: 3px solid var(--headerMainColor);
        width: 25em;
        height: auto;
        border-radius: 50px 20px;
        
      }
  }
  .btn-card-project:hover {
    background-color: var(--headerMainColor);
    color: var(--fontSecudaryColor);
  }


  .partner-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .partner-card-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .partner-video {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
    border-radius: 30px;
}
@media screen and (max-width: 450px) {
    .partner-video {
        margin-top: 150px;
    }
}
.btn-card-partner {
    background-color: var(--hoverColor);
    border: 3px solid var(--headerMainColor);
    width: 40em;
    height: 3em;
    border-radius: 50px 20px;
    margin-top: 10px;
    font-weight: 700;
  }
  @media screen and (max-width:450px) {
    .btn-card-partner {
        background-color: var(--hoverColor);
        border: 3px solid var(--headerMainColor);
        width: 25em;
        height: auto;
        border-radius: 50px 20px;
      }
  }
  .btn-card-partner:hover {
    background-color: var(--headerMainColor);
    color: var(--fontSecudaryColor);
  }
  .guimaraes-logo {
    width: 20em;
  }
  @media screen and (max-width: 450px) {
    .guimaraes-logo {
        width: 7em;
    }
  }
  .mayara-logo {
    width: 20em;
  }
  @media screen and (max-width: 450px) {
    .mayara-logo {
        width: 7em;
    }
  }
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: var(--headerMainColor);
    opacity: 0.9;
  }
  .image-contact {
    border: 3px solid black;
   width: 5em;
   border-radius: 10px;
   box-shadow: 5px 5px 0px var(--borderColor);
  }
  @media screen and (max-width: 450px) {
    .image-contact {
        width: 3em;
        border-radius: 10px;
    }
  }
